.heading{
    background-color: blue;
    color: white;
}

.container{
    background-color: lightgray;
    color: black;
}

.container2{
    color: red;
}

.highlight{
    color: green;
}

.main-content{
    background-color: yellow;
}